html, body, * {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.conta {
    width: 100%;
}
    .header {
        height: 50px;
        width: 100%;
        background-color: #333333;
        border-bottom: 5px #000000 solid;
    }
        .header_logo {
            float: left;
            height: 100%;
            width: 120px;
            background-image: url(./images/logo.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: auto 80%;
        }
        .header_text_name {
            float: left;
            line-height: 50px;
            padding-left: 5px;
            color: #ffffff;
            font-size: 30px;
        }
        .header_text_version {
            float: left;
            line-height: 40px;
            padding-left: 10px;
            padding-top: 10px;
            color: #ffffff;
            font-size: 15px;
        }

        .header_message {
            float: right;
            line-height: 50px;
            padding-right: 20px;
            color: #999999;
            font-size: 20px;
        }
        .header_icon {
            float: right;
            height: 100%;
            width: 50px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            cursor: pointer;
        }
        .header_icon:hover {
            background-color: #3f3f3f;
        }
            .header_info_icon {
                background-image: url(./images/info.png);
            }
            .header_menu_icon {
                background-image: url(./images/menu.png);
            }
            .header_cross_icon {
                background-image: url(./images/cross.png);
            }

    .rolldown_menu {
        position: absolute;
        top: 54px;
        left: 0px;
        width: calc(100% - 20px);
        padding: 10px;
        background-color: #051221;
        z-index: 1000;
    }
        .menu_columns {
            width: 100%;
        }
            .menu_column {
                float: left;
                width: 200px;
                padding: 0 5px;
            }
                .menu_column_title {
                    width: 100%;
                    line-height: 30px;
                    font-size: 20px;
                    color: #ffffff;
                    border-bottom: 2px #ffffff solid;
                }
                .menu_column_conta {
                    width: 100%;
                    max-height: 300px;
                    padding-top: 5px;
                    overflow-y: auto;
                }
                    .menu_column_row {
                        width: 100%;
                        height: 30px;
                    }
                        .menu_column_row_checkbox {
                            display: block;
                            float: left;
                            height: 20px;
                            width: 20px;
                            margin: 5px 0;
                        }
                        .menu_column_row_radio {
                            display: block;
                            float: left;
                            height: 18px;
                            width: 18px;
                            margin: 6px 0;
                        }
                        .menu_column_row_text {
                            float: left;
                            line-height: 30px;
                            font-size: 15px;
                            padding-left: 5px;
                            color: #ffffff;
                        }
                        .menu_column_row_text_split {
                            float: left;
                            width: calc(100% - 20px);
                            line-height: 29px;
                            margin: 0 10px;
                            border-bottom: 1px #ffffff solid;
                            font-size: 15px;
                            color: #ffffff;
                            text-align: center;
                        }

            .menu_column_cleaner {
                clear: both;
            }

        .menu_buttons {
            width: calc(100% - 10px);
            height: 35px;
            padding: 0 5px;
            padding-top: 15px;
        }
            .menu_button {
                display: block;
                margin-left: 10px;
                height: 31px;
                width: 100px;
                border-radius: 0;
                border: 0;
                border-bottom: 4px #025C00 solid;
                background-color: #038C00;
                color: #ffffff;
                font-size: 16px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                cursor: pointer;
            }
            .menu_button:hover {
                background-color: #04AD00;
            }
            .menu_button:active {
                margin-top: 2px;
                height: 29px;
                border-bottom-width: 2px;
            }
            .menu_button_l {
                float: left;
            }
            .menu_button_r {
                float: right;
            }

            .menu_button_disabled {
                border-bottom: 4px #242424 solid;
                background-color: #454545;
                cursor: default;
            }
            .menu_button_disabled:hover {
                background-color: #454545;
            }
            .menu_button_disabled:active {
                margin-top: 0px;
                height: 31px;
                border-bottom-width: 4px;
            }

    .sec {
        width: calc(100% - 40px);
        padding: 5px 20px;
        padding-bottom: 5px;
    }
    .sec_half {
        float: left;
        width: calc(50% - 40px);
        padding: 5px 20px;
        padding-bottom: 5px;
    }
        .title {
            width: 100%;
            line-height: 40px;
            color: #051221;
            font-size: 30px;
            border-bottom: 2px #040D1F solid;
        }
        .bubble {
            width: calc(100% - 20px - 16px);
            max-width: 800px;
            padding: 8px;
            margin: 10px;
            font-size: 18px;
            background-color: rgb(255, 231, 145);
            border-radius: 8px;
        }
        .bubble_red {
            color: rgb(143, 25, 25);
            background-color: rgb(255, 176, 169);
        }
        .bubble_clear {
            background-color: transparent;
        }

    .ranges {
        width: calc(100% - 20px);
        padding: 20px 10px;
    }
        .range {
            width: calc(100% - 10px);
            background-color: #d7eed2;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 5px;
            color: #000000;
        }
            .range_name {
                float: left;
                line-height: 30px;
                font-size: 25px;
                min-width: 100px;
            }
            .range_value {
                float: left;
                line-height: 30px;
                font-size: 17px;
                padding-left: 10px;
            }

    .schedule {
        width: 1200px;
        padding: 10px;
        margin: 0 auto;
        padding-top: 20px;
        background-color: #ffffff;
    }
        .schedule_header {
            height: 42px;
            width: calc(100% - 4px);
            border: 2px #000000 solid;
            background-color: #040D1F;
        }
            .schedule_header_cell_week {
                float: left;
                width: 30px;
                height: 40px;
                background-color: #040D1F;
                border: 1px #000000 solid;
                border-right: 0;
            }
            .schedule_header_cell {
                float: left;
                width: calc(((100% - 31px - 16px) / 14) - 4px);
                line-height: 20px;
                padding: 0 2px;
                background-color: #040D1F;
                color: #ffffff;
                text-align: center;
                border: 1px #000000 solid;
                border-left: 0;
                border-right: 0;
            }
            .schedule_header_cell_divider {
                float: left;
                width: 1px;
                height: 42px;
                background-color: #000000;
            }

        .schedule_row {
            width: calc(100% - 4px);
            border: 2px #000000 solid;
            border-top: 0;
        }
            .schedule_row_header {
                float: left;
                width: 30px;
                line-height: 72px;
                background-color: #040D1F;
                color: #ffffff;
                text-align: center;
                border: 1px #000000 solid;
                border-bottom: 0;
                border-top: 0;
            }
            .schedule_row_layers {
                float: left;
                width: calc(100% - 32px);
            }
                .schedule_row_layer {
                    position: relative;
                    height: 66px;
                    padding: 3px;
                }
                    .schedule_cell {
                        position: absolute;
                        top: 3px;
                        height: 60px;
                        border: 3px #000000 dashed;
                        border-radius: 3px;
                    }
                    .schedule_cell_week_odd {
                        border-color: #335AFF;
                    }
                    .schedule_cell_week_even {
                        border-color: #DB1200;
                    }
                    .schedule_cell_type_p {
                        background-color: #03b300;
                    }
                    .schedule_cell_type_d {
                        background-color: #15A2DB;
                    }
                    .schedule_cell_type_c {
                        background-color: #DBB21F;
                    }
                    .schedule_cell_type_c_n {
                        background-color: #F5EBC9;
                    }
                    .schedule_cell_selected {
                        border-style: solid;
                    }
                    .schedule_cell_deleted {
                        opacity: 0.3;
                    }
                        .schedule_cell a {
                            text-decoration: none;
                            color: #000000;
                        }
                        .schedule_cell_name {
                            width: 100%;
                            line-height: 24px;
                            font-size: 20px;
                            text-align: center;
                            color: #000000;
                        }
                        .schedule_cell_rooms {
                            width: 100%;
                            line-height: 18px;
                            font-size: 12px;
                            text-align: center;
                            color: #000000;
                        }
                        .schedule_cell_desc {
                            width: 100%;
                            line-height: 18px;
                            font-size: 12px;
                            text-align: center;
                            color: #000000;
                        }
                        .schedule_cell_star {
                            position: absolute;
                            top: 3px;
                            left: auto;
                            right: 3px;
                            height: 15px;
                            width: 15px;
                            background-color: #646464;
                            background-image: url(images/star.png);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 75% 75%;
                            cursor: pointer;
                            border-radius: 2px;
                        }
                        .schedule_cell_star:hover {
                            background-color: #6b6b6b;
                        }
                        .schedule_cell_star:active {
                            background-color: #454545;
                        }
                        .schedule_cell_bin {
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            right: auto;
                            height: 15px;
                            width: 15px;
                            background-color: #646464;
                            background-image: url(images/bin.png);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 60% 60%;
                            cursor: pointer;
                            border-radius: 2px;
                        }
                        .schedule_cell_bin:hover {
                            background-color: #6b6b6b;
                        }
                        .schedule_cell_bin:active {
                            background-color: #454545;
                        }
                        .schedule_cell_bin_cc {
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            right: auto;
                            height: 15px;
                            width: 15px;
                            background-color: #646464;
                            background-image: url(images/bin.png);
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: 60% 60%;
                            cursor: pointer;
                            border-radius: 2px;
                        }
                        .schedule_cell_bin_cc:hover {
                            background-color: #6b6b6b;
                        }
                        .schedule_cell_bin_cc:active {
                            background-color: #454545;
                        }

    .sch_add {
        width: calc(100% - 40px - 10px - 2px);
        margin: 10px 20px;
        background-color: #f5f5f5;
        border-radius: 2px;
        padding: 5px;
        padding-bottom: 0;
        border: 1px #000000 solid;
    }
        .sch_add_cell {
            float: left;
            height: 31px;
            padding-right: 10px;
            padding-bottom: 5px;
        }
            .sch_add_cell_text {
                float: left;
                line-height: 31px;
                padding-right: 5px;
                font-size: 18px;
            }
            .sch_add_cell_inpu_text {
                display: block;
                float: left;
                line-height: calc(31px - 10px - 2px);
                width: 100px;
                padding: 5px;
                font-size: 16px;
                outline: none;
                border: 1px #242424 solid;
                border-radius: 2px;

            }
            .sch_add_cell_select {
                display: block;
                float: left;
                height: 31px;
                width: 100px;
                padding: 5px;
                font-size: 14px;
                outline: none;
                border: 1px #242424 solid;
                border-radius: 2px;
            }

        .sch_add_button {
            display: block;
            float: right;
            height: 31px;
            width: 100px;
            border-radius: 0;
            border: 0;
            border-bottom: 4px #025C00 solid;
            background-color: #038C00;
            color: #ffffff;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            cursor: pointer;
        }
        .sch_add_button:hover {
            background-color: #04AD00;
        }
        .sch_add_button:active {
            margin-top: 2px;
            height: 29px;
            border-bottom-width: 2px;
        }

.clear {
    clear: both;
}
.hidden {
    display: none;
}
.red {
    font-weight: bold;
    color: rgb(134, 11, 0);
}
.blue {
    font-weight: bold;
    color: #101A85;
}

@media (max-width: 860px) {
    .menu_column {
        width: calc(50% - 10px);
    }
}
